#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 28px;
  width: 50vw;
  height: 60vh;
  text-align: center;
  padding: 5vw;
}

.button {
  font-size: 1em;
  background-color: #7D67F6;
}

#myResult {
  grid-column: 2/5;
  font-size: 1em;
  grid-row: 1;
  background-color: #B7ADF6
}

 #clear {
  grid-column: 1;
  grid-row: 1;
}

#clear:hover {
  background-color: #B7ADF6
}

#eq:hover {
  background-color: #B7ADF6
}

.oper {
  font-size: 1em;
  background-color: #B7ADF6;
}
